<table>
    <tr>
        <td>
            <p>Iker Gerardo Guevara Sanchez</p>
            <p>Ser SNI 3 y tener cuadritos</p>
        </td>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/imagen-mycv.appspot.com/o/WhatsApp%20Image%202024-09-13%20at%205.18.03%20PM.jpeg?alt=media&token=c4fca52c-69a4-4d2f-8e8d-3c9f2c9d8d27" width=100 height=100>
        </td>

        <td>
            <ul>
                <li>zs22004366&#64;estudiantes.uv.mx</li>
                <li>2722328313</li>
                <li>Cordoba, Veracruz</li>
                <li>&#64;Iker186</li>
            </ul>
        </td>
    </tr>
</table>