<table>
    <tr>
        <td>
            <p>Iker Gerardo Guevara Sanchez</p>
            <p>Ser SNI 3 y tener cuadritos</p>
        </td>
        <td>
            <img src="https://mag.elcomercio.pe/fama/the-boys-10-cosas-que-no-sabias-de-black-noir-en-la-serie-amazon-prime-video-nnda-nnlt-noticia/">
        </td>

        <td>
            <ul>
                <li>zs22004366&#64;estudiantes.uv.mx</li>
                <li>2722328313</li>
                <li>Cordoba, Veracruz</li>
                <li>&#64;Iker186</li>
            </ul>
        </td>
    </tr>
</table>